<!--Copyright Tudor Brandibur, 2023-2024-->
{% extends '_base.html' %}

{% block buttons %}
<div class="navbar">
	<a class="nav-item nav-link" href="/">Home</a>
	<a class="nav-item nav-link" href="/gallery">Gallery</a>
	<a class="nav-item nav-link active" href="/upload">Upload</a>
	<a class="nav-item nav-link" href="/aboutus">About us</a>
	<a class="nav-item nav-link" href="/vreaumarire">Vreau Marire :)</a>
	{% if not authenticated %}
	<a class="nav-item nav-link" href="/login">Login</a>
	{% else %}
	<a class="nav-item nav-link" href="/logout">Logout</a>
	{%endif%}
</div>
{% endblock buttons %}

{% block content%}

{% if not authenticated %}
<br>
<br>
<br>
<h2 class="main-title text-center"> Oh...Seems like you are not logged in.</h2>
<br>
<h3 class="main-title text-center">Please <a href="/login" style="color:#ffea00";>login</a> first.</h3>

{% else %}
<div class="container">
	<br>
	<br>
	<h1 class="my-4 text-center">Upload an Image</h1>
	<form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="file" class="text-center">Choose an image to upload:</label>
			<input type="file" class="form-control-file" id="file" name="file">
		</div>
		<div class="form-group mt-3">
			<label for="category">Select a category:</label>
			<select class="form-control" id="category" name="category" required>
				<option value="">--Select Category--</option>
				<option value="animals">Animals</option>
				<option value="people">People</option>
				<option value="nature">Nature</option>
				<option value="travel">Travel</option>
			</select>
		</div>
		<div class="form-group">
			<label for="file" class="text-center">Bw please :)</label>
			<input type="checkbox" id="BW" name="check" />
		</div>
		

		<button type="submit" class="btn btn-primary mt-3">Upload</button>
	</form>
</div>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endif %}
{% endblock content %}